.menu {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    position: relative;
    background-color: #FCFCFC;
    width: fit-content;
}


.menu-items-container {
    background-color: #FCFCFC;
    border: 1px solid #D5D5D5;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 48px;
    width: max-content;
}

/* Align right edge of menu to right edge of button */
.menu-items-container--right {
    right: 0;
}

/* Align left edge of menu to left edge of button */
.menu-items-container--left {
    left: 0;
}

.menu-items-container :last-child {
    border-bottom: none;
}
