.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .75rem 1rem;
    background-color: #FCFCFC;
    border-bottom: 1px solid #D5D5D5;
    gap: 2.5rem;
}

.menu-item img {
    width: 1rem;
}

.menu-item p {
    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.menu-item:hover {
    background-color: #D5D5D5;
    cursor: pointer;
}

.danger p {
    color: #BC0000 !important;
}

.danger img {
    filter: invert(15%) sepia(97%) saturate(7456%) hue-rotate(358deg) brightness(71.9%) contrast(115%);
}