.sidebar {
  width: 250px;
  background-color: #FCFCFC;
  border-right: 1px solid #e0e0e0;
  padding: 20px;
  overflow-y: auto;
  flex-shrink: 0;
}

.sidebar-actions {
  margin-bottom: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cacaca;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-button {
  border: none;
  background-color: unset;
  display: flex;
  align-items: center;
  gap: .25rem;
  font-weight: 600;
}

.sidebar-action-buttons {
  display: flex;
  gap: 8px;
  align-content: end;
}

.vertical-rule {
  width: 1px;
  background-color: #cacaca;
}

.sidebar-action-button {
  /* flex: 1; */
  /* height: 40px; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: #ffffff; */
  /* border: 1px solid #e0e0e0; */
  /* border-radius: 6px; */
  cursor: pointer;
  /* transition: all 0.2s ease; */
  border: none;
  width: unset;
  background-color: unset;
}

.sidebar-action-button img {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  /* opacity: 0.7; */
}

.sidebar-action-button:hover {
  background-color: #f5f5f5;
  border-color: #d0d0d0;
}

.sidebar-action-button:hover img {
  opacity: 1;
}

.sidebar-action-button:active {
  transform: scale(0.98);
}

.sidebar-action-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  background-color: #fafafa;
}

.sidebar-action-button:disabled:hover {
  background-color: #fafafa;
  border-color: #e0e0e0;
}

.sidebar-action-button:disabled img {
  opacity: 0.4;
}

.sidebar-section {
  margin-bottom: 32px;
}

.sidebar-section-title {
  font-size: 14px;
  font-weight: 600;
  color: #626262;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.sidebar-node-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
